<div class="post-list">
    {%- for post in site.posts -%}
    <div class="post-item flex-container">

        <a class="link--no-underline" href="{{ post.url | relative_url }}">
            <div class="image-wrapper--thumbnail" style="background-image: url('{{ post.image }}')">
            </div>
        </a>

            <div>

                <div class="post-meta desktop-only">
                    {% include post-date.html %}
                </div>

                <div class="post-link-wrapper">
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a> {{ post.emoji }}
                    <p class="translation">{{ post.translation }}</p>
                </div>

            </div>

    </div>
    {%- endfor -%}
</div>