/**
 * Container
 */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &.left {
    justify-content: start;
  }

  &.post-item {
    flex-wrap: nowrap;
    align-items: start;
    justify-content: flex-start;

    @include media-query($on-palm) {
      a {
        width: 100%;
      }
    }
  }

  @include media-query($on-palm) {
    justify-content: start;
  }
}

/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  background-color: $brand-darkgreen;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  text-transform: lowercase;

  @include media-query($on-palm) {
    @include relative-font-size(1.5);
  }

  &:hover {
    background-size: 0 0;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
    background-color: $brand-darkgreen;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    text-transform: lowercase;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

.page-title {
  @include relative-font-size(1.5);
  font-weight: 400;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  text-transform: lowercase;
  margin-bottom: $spacing-unit;

  @include media-query($on-palm) {
    @include relative-font-size(1.5);
  }
}

.tag-title {
  color: $brand-darkgreen;
}

/**
 * Tag cloud
 */
.tag-cloud {
  margin: $spacing-unit 0;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 2px solid $brand-darkgreen;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
  text-transform: lowercase;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit * 3 0 $spacing-unit * 2 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin: 0 auto $spacing-unit * 2.5 auto;
  list-style: none;

  > .post-item {
    margin-bottom: $spacing-unit;

    @include media-query($on-palm) {
      flex-direction: column;
    }

    > div {
      //flex: 1;
    }

    .translation {
      font-size: 1em;
      font-style: italic;
      color: $grey-color;
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  text-transform: lowercase;
  margin-right: 1em;
  width: $spacing-unit * 4;

  @include media-query($on-palm) {
    margin-right: 0;
    margin-bottom: .5em;
  }
}

.post-link {
  display: inline;
  font-size: $base-font-size * 1.25;
  font-weight: 700;
}

/**
 * Posts
 */
.post-header {
  padding-top: $spacing-unit;
  margin-bottom: $spacing-unit / 2;
}

.post-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  line-height: 1;
  text-transform: lowercase;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  font-family: $base-font-family;

  a, .standard-link {
    position: relative;
    background-size: 100% .6em;
    text-decoration: none;
    border-bottom: 1px $brand-color solid;
    background: none;
    transition: none;

    &:hover {
      color: $grey-color;
      border-color: $grey-color;

      &::before {
        opacity: 1;
      }
    }
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.image-wrapper {
  width: 66%;
  margin: $spacing-unit auto;

  &--thumbnail {
    margin: 0 $spacing-unit * 2 0 0;
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;

    @include media-query($on-palm) {
      width: 100%;
      height: 120px;
    }

  }
}

.desktop-only {
  @include media-query($on-palm) {
    display: none;
  }
}