/**
 * Container
 */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &.left {
    justify-content: start;
  }

  &.post-item {
    flex-wrap: nowrap;
    align-items: start;
    justify-content: flex-start;

    @include media-query($on-palm) {
      a {
        width: 100%;
      }
    }
  }

  @include media-query($on-palm) {
    justify-content: start;
  }
}

/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 2;
  background-color: $brand-dark;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.site-title {
  @include relative-font-size(1.625);
  color: $white;
  font-family: $secondary-font-family;
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  text-transform: lowercase;

  @include media-query($on-palm) {
    @include relative-font-size(1.2);
  }

  &:hover {
    background-size: 0 0;
    color: $white;
  }
}

.page-title {
  @include relative-font-size(1.5);
  font-weight: 400;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  text-transform: lowercase;
  margin-bottom: $spacing-unit;

  @include media-query($on-palm) {
    @include relative-font-size(1.5);
  }
}

.tag-title {
  color: $brand-darker;
}

/**
 * Tag cloud
 */
.tag-cloud {
  margin: $spacing-unit 0;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 2px solid $brand-dark;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.1);
  text-transform: lowercase;
  margin-bottom: 0;
  display: inline;

  .fas {
    margin-right: 0;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-media-list li {
  display: flex;
  align-items: center;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(37% - (#{$spacing-unit} / 2));
  width:         calc(37% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(13% - (#{$spacing-unit} / 2));
  width:         calc(13% - (#{$spacing-unit} / 2));
  text-transform: lowercase;
}

.footer-col-3 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    text-align: center;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    display: none;
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit * 5 0 $spacing-unit * 2 0;
  flex: 1;

  @include media-query($on-palm) {
    padding-top: $spacing-unit * 4;
  }
}

.page-heading {
  @include relative-font-size(2);

  &--visual {
    width: 66%;
    margin-bottom: $spacing-unit * 3;
    padding-left: $spacing-unit;
    border-left: $spacing-unit / 3 solid $highlight;

    @include media-query($on-palm) {
      width: auto;
      border-left: none;
      padding-left: 0;
    }

    h1 {
      font-style: italic;
      line-height: 1.2;

      @include media-query($on-palm) {
        display: inline;
        width: auto;
        border-left: none;
        background-image: linear-gradient(90deg, $highlight, $highlight);
        background-size: 100% .5em;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0 .7em;
      }
    }

    p {
      font-family: $secondary-font-family;

      @include media-query($on-palm) {
        margin-top: $spacing-unit / 2;
      }
    }
  }
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin: 0 auto $spacing-unit * 2.5 auto;
  list-style: none;

  > .post-item {
    margin-bottom: $spacing-unit;

    @include media-query($on-palm) {
      flex-direction: column;
      margin-bottom: $spacing-unit * 2;
      background-color: $highlight;
    }

    .translation {
      font-size: 1em;
      font-style: italic;
      color: $grey-color;

      @include media-query($on-palm) {
        margin-top: $spacing-unit / 3;
      }
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin-right: 1em;
  margin-bottom: 0;

  &.inactive {
    color: $error;
    font-style: italic;
  }

  @include media-query($on-palm) {
    margin-right: 0;
    margin-bottom: .5em;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit / 2;
}

.post-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  line-height: 1;
  text-transform: lowercase;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  font-family: $base-font-family;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Images
 */
.image-wrapper {
  width: 66%;
  margin: $spacing-unit auto;

  &--thumbnail {
    margin: 0 $spacing-unit * 2 0 0;
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;

    @include media-query($on-palm) {
      width: 100%;
      height: 120px;
    }

  }
}

.desktop-only {
  @include media-query($on-palm) {
    display: none;
  }
}