/**
 * Links
 */
a {
  color: $brand-color;
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(90deg, $highlight, $highlight);
  background-size: 0 .5em;
  transition: all .3s ease-out;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 .7em;
  border-bottom: none;

  &:hover {
    background-size: 100% .5em;
    border-bottom: none;
  }

  &.mobile-anchor-link {
    display: none;
    @include relative-font-size(1.25);

    &:hover {
      background-size: 0 0;
    }

    @include media-query($on-palm) {
      display: flex;
      align-items: center;
      margin-bottom: $spacing-unit;
    }
  }

  &.link--return {
    margin-top: $spacing-unit;
    color: $brand-darker;
    font-size: 1.2em;

    &:hover {
      background-size: 0;

      .fas {
        transform: translateX(-10px);
      }
    }
  }

  &.page-link {
    transition: none;
    font-family: $secondary-font-family;

    &:hover {
      border-bottom: 1px $white solid;
      background-size: 0 0;
    }
  }

  &.tag-link {
    font-size: $base-font-size;
    font-family: $secondary-font-family;
    color: $white;
    margin: .5em 1em .5em 0;
    transition: all .3s;
    line-height: 1;
    display: flex;
    align-items: center;
    border-bottom: 0;

    div {
      padding: .5em .75em;
    }

    .tag {
      color: $brand-darker;
      border: 1px $brand-darker solid;
      box-sizing: border-box;
    }

    .number {
      color: $brand-darker;
      border: 1px $brand-darker solid;
      border-left: none;
      background-color: $white;
      line-height: 1;
    }

    &:hover {
      background-size: 0 0;
      transform: translateY(-10%)
    }
  }
}

.link--no-underline:hover {
  background-size: 0 0;
}

.post-content a {
  font-weight: 700;
}

.post-link {
  display: inline;
  font-size: $base-font-size * 1.25;
  font-weight: 700;

  @include media-query($on-palm) {
    line-height: 1.2;
    font-size: $base-font-size * 1.1;
  }
}

.post-link-wrapper {
  @include media-query($on-palm) {
    margin: $spacing-unit / 2 0;
    padding: 0 $spacing-unit / 2;
  }
}