/**
 * Links
 */
a,
a.link--fancy,
.post-content a.link--fancy {
  color: $brand-color;
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(90deg, $highlight, $highlight);
  background-size: 0 .5em;
  transition: all .3s ease-out;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 .7em;
  border-bottom: none;

  &:hover {
    background-size: 100% .5em;
    border-bottom: none;
    color: initial;
  }

  &.page-link {
    border-bottom: 1px $brand-color solid;
    transition: none;

    &:hover {
      color: $white;
      border-bottom: 1px $white solid;
      background-size: 0 0;
    }
  }

  &.tag-link {
    font-size: $base-font-size;
    font-family: $secondary-font-family;
    color: $white;
    margin: .5em 1em .5em 0;
    transition: all .3s;
    line-height: 1;
    display: flex;
    align-items: center;

    div {
      padding: .5em .75em;
    }

    .tag {
      background-color: $brand-darkgreen;
      border-top-left-radius: .25em;
      border-bottom-left-radius: .25em;

      &.no-sibling {
        border-radius: .25em;
      }
    }

    .number {
      color: $brand-darkgreen;
      border-top-right-radius: .25em;
      border-bottom-right-radius: .25em;
      background-color: $brand-green;
      line-height: 1;
    }

    &:hover {
      background-size: 0 0;
    }

    &:hover {
      transform: scale(.95)
    }
  }

  .social-media-list &:hover {
    text-decoration: none;
  }
}

.link--no-underline:hover {
  background-size: 0 0;
}