.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
    color: $white;
    background-color: $brand-dark;
  }

  .page-link {
    color: $brand-darker;
    line-height: $base-line-height;
    text-transform: lowercase;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: transparent;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $white;
      }
    }

    .trigger {
      background-color: $brand-dark;
      text-align: right;
      width: 50%;
    }

    input ~ .trigger {
      clear: both;
      position: fixed;
      top: 60px;
      right: -100%;
      transition: right .3s ease-out;
    }

    input:checked ~ .trigger {
      position: fixed;
      top: 60px;
      right: 0;
      transition: right .3s ease;
    }

    .page-link {
      display: block;
      margin: 0;
      padding: 20px;
      @include relative-font-size(1.1);

      &:nth-child(odd) {
        background-color: $brand-darker;
      }

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: $spacing-unit * 2 0;

  a {
    margin: 0 $spacing-unit / 2;
    color: $brand-darker;

    &.current {
      color: $white;
      background-color: $brand-darker;
      width: $spacing-unit;
      height: $spacing-unit;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      background-size: 0 0;
    }
  }
}