---
layout: default
title: Home
---

<div class="home">
  {%- if page.vis_title -%}
  <div class="page-heading--visual">
    <h1>{{ page.vis_title }}</h1>
    <p>{{ page.vis_subtitle }}</p>
  </div>
  {%- endif -%}

  {{ content }}

  <a class="mobile-anchor-link" href="#tag-cloud">
    Skip to tags <i class="far fa-arrow-alt-circle-down"></i>
  </a>

  <!-- Post list -->
  {%- if site.posts.size > 0 -%}

    {% include post-list.html %}

  {%- endif -%}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">prev</a>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <a class="current" href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
      {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">next</a>
    {% endif %}
  </div>

  <!-- Tag cloud -->
  {% include tag-cloud.html %}

</div>
