---
layout: default
title: Home
---

<div class="home">
  {%- if page.vis_title -%}
  <div class="page-heading--visual">
    <h1>{{ page.vis_title }}</h1>
    <p>{{ page.vis_subtitle }}</p>
  </div>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}

    {% include post-list.html %}

  {%- endif -%}

  {% include tag-cloud.html %}

  <div class="flex-container">
    <i class="fas fa-rss"></i>
    <a href="/feed.xml">
      <span>subscribe via RSS</span>
    </a>
  </div>

</div>
