---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <a href="{{post.url}}">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    </a>

    <p class="post-meta">

      {% assign month = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }}
      {% case month %}
      {% when '1' %}enero
      {% when '2' %}febrero
      {% when '3' %}marzo
      {% when '4' %}abril
      {% when '5' %}mayo
      {% when '6' %}junio
      {% when '7' %}julio
      {% when '8' %}agosto
      {% when '9' %}septiembre
      {% when '10' %}octubre
      {% when '11' %}noviembre
      {% when '12' %}diciembre
      {% endcase %}
      {{ page.date | date: "%Y" }}

      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}

    </p>

    {%- if page.status == 'inactive' -%}

    <p class="post-meta inactive">Este proyecto por el momento se encuentra inactivo.</p>

      {%- endif -%}
  </header>

  <div class="tag-cloud flex-container left">
    {% for tag in page.tags %}
    {% capture tagname %}{{ tag }}{% endcapture %}
    <a class="tag-link" href="/tag/{{ tagname }}">
      <div class="tag">{{ tagname }}</div>
    </a>
    {% endfor %}
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    {%- if page.ext_url -%}

    Sitio web: <a href="{{ page.ext_url }}">{{ page.ext_url }}</a>

    {% endif %}

      <div class="image-wrapper">

        {%- if page.ext_url -%}


        <a href="{{ page.ext_url }}" target="_blank">

        {%- endif -%}

        <img src="/{{ page.image }}" title="{{ post.title }}" alt="{{ post.title }}" />

        {%- if page.ext_url -%}
        </a>

        {%- endif -%}

      </div>

  </div>

  <div class="flex-container">
    <a class="tag-link" href="/">
      <div class="tag">All posts</div>
    </a>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>
