---
layout: default
---

{% assign tagname = page.title | replace:' ','-' %}
{% assign numtags = 0 %}
{% for post in site.posts %}
    {% if post.tags contains tagname %}
        {% assign numtags = numtags | plus:1 %}
    {% endif %}
{% endfor %}

<div class="page-title">
    Posts tagged with <span class="tag-title">{{ tagname }} ({{ numtags }})</span>
</div>

<div class="post-list">
    {%- for post in site.posts -%}
    {% if post.tags contains tagname %}
    <div class="post-item flex-container left">

        {% include post-item.html %}

    </div>
    {% endif %}
    {%- endfor -%}

    <div class="flex-container">
        <a class="tag-link" href="/">
            <div class="tag">All posts</div>
        </a>
    </div>

</div>

