---
layout: default
---

{% assign tagname = page.title | replace:' ','-' %}
{% assign numtags = 0 %}
{% for post in site.posts %}
    {% if post.tags contains tagname %}
        {% assign numtags = numtags | plus:1 %}
    {% endif %}
{% endfor %}

<a class="tag-link static" href="/tag/{{ tagname }}">
    <div class="tag">{{ tagname }}</div><div class="number">{{numtags}}</div>
</a>

<ul>
    {% for post in site.posts %}
    {% if post.tags contains tagname %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
    </li>
    {% endif %}
    {% endfor %}
</ul>
