---
layout: default
---

{% assign tagname = page.title | replace:' ','-' %}
{% assign numtags = 0 %}
{% for post in site.posts %}
    {% if post.tags contains tagname %}
        {% assign numtags = numtags | plus:1 %}
    {% endif %}
{% endfor %}

<span class="page-title">
    Posts tagged with <span class="tag-title">{{ tagname }} ({{ numtags }})</span>
</span>

<div class="post-list">
    {%- for post in site.posts -%}
    {% if post.tags contains tagname %}
    <div class="post-item">

        <div class="post-meta">
            {% include post-date.html %}
        </div>

        <div>
            <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
            <p class="translation">{{ post.translation }}</p>
        </div>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
    </div>
    {% endif %}
    {%- endfor -%}
</div>

